.Invitaz {
    position: fixed;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;
}